
.cloudsurf-button-wrap{
    position:fixed;
    width: 14rem;
    height: 5.5rem;
    left: .5rem;
    bottom: .5rem;
    z-index: 2147483647;
}
.overlay-contain{
    width: inherit;
    height: inherit;
    position: relative;
}

.button-contain{
    z-index: 2;
    position: relative;
    width: inherit;
    height: inherit;
}
.react-button, .cloud-button, .like-button, .dislike-button{
    position: absolute;
    top:0; 
    cursor: pointer;
}
.like-button, .dislike-button{
    border-radius: 20%;
}
.like-button:hover, .dislike-button:hover{
    background-color: darkgrey;
}
.like-button{
    height: 40%;
    top: 15%;
    left: 7%;
    padding: 2%;
}
.dislike-button{
    height: 40%;
    top: 35%;
    left: 27%; 
    padding: 2%;
}
.clicked-button{
    background: #525252 !important;
}
.cloud-button{
    height: 65%;
    top: 17.5%;
    left: 53%;
    transition: transform 250ms;
}
.cloud-button:hover{
    transform: scale(1.25, 1.25);
}


.background-contain{
    z-index: 1;
    position:absolute;
    height:inherit;
    width:inherit;
    top:0;
    left:0;
}
.gradient-background, .white-background{
    position:absolute;
    top:0px;
    left:0px;
    height:inherit;
    width: auto;
    overflow:visible;
}
.gradient-background{
    z-index: 0;
}
.white-background{
    z-index: 1;
}