body{
    background-color: cadetblue;
}

*{
    margin: 0;
    padding: 0;
}

main{
    position:fixed;
    width: 24rem;
    height: 10rem;
    top:0px;
    bottom:0px;
    right: 0px;
    left:0px;
    height:10rem;
    margin:auto;
}

.overlay-contain{
    width: inherit;
    height: inherit;
    position: relative;
}

.button-contain{
    z-index: 2;
    position: relative;
    width: inherit;
    height: inherit;
}

.react-wrap{
    top:0;
    left:0;
    position: relative; 
    height: 0; 
    width: 40%; 
    padding: 0;
    padding-bottom: 100%; 
}
.react-button{
    position: absolute; 
    height: calc(100% - 5rem);
    padding-top:2.5rem;
    padding-bottom:2.5rem;
    left: 2.5rem; 
    top:0;
}
.cloud-button{
    position: absolute; 
    height: calc(100% - 4rem);
    padding-top:2rem;
    padding-bottom:2rem; 
    left: 10.5rem; 
    top:0;
}



.background-contain{
    z-index: 1;
    position:absolute;
    height:inherit;
    width:inherit;
    top:0;
    left:0;
}
.gradient-background, .white-background{
    position:absolute;
    top:0px;
    left:0px;
    height:inherit;
    width: auto;
    overflow:visible;
}
.gradient-background{
    z-index: 0;
}
.white-background{
    z-index: 1;
}