body{
    background-color: cadetblue;
}

*{
    margin: 0;
    padding: 0;
}

main{
    position:fixed;
    width: 28rem;
    height: 10rem;
    top:0px;
    bottom:0px;
    right: 0px;
    left:0px;
    height:10rem;
    margin:auto;
}

.overlay-contain{
    width: inherit;
    height: inherit;
    position: relative;
}

.button-contain{
    z-index: 2;
    position: relative;
    width: inherit;
    height: inherit;
}
.react-button, .cloud-button, .like-button, .dislike-button{
    position: absolute;
    top:0; 
    cursor: pointer;
}
.like-button{
    height: calc(100% - 6rem);
    margin-top:2rem;
    margin-bottom:4rem;
    left: 2.5rem; 
}
.dislike-button{
    height: calc(100% - 6rem);
    margin-top:4rem;
    margin-bottom:2rem;
    left: 8rem; 
}
.cloud-button{
    height: calc(100% - 4rem);
    margin-top:2rem;
    margin-bottom:2rem; 
    left: 14.5rem; 
}



.background-contain{
    z-index: 1;
    position:absolute;
    height:inherit;
    width:inherit;
    top:0;
    left:0;
}
.gradient-background, .white-background{
    position:absolute;
    top:0px;
    left:0px;
    height:inherit;
    width: auto;
    overflow:visible;
}
.gradient-background{
    z-index: 0;
}
.white-background{
    z-index: 1;
}